<!DOCTYPE html>
<html>
  <head>
    <title>spoker-master</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Bootstrap plugins for JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- TODO purge surplus styles -->
    <style>
      .story-name {
        margin-bottom: 30px;
        text-align: center;
      }
      .estimate {
        margin-bottom: 30px;
        text-align: center;
      }
      .scrum-card {
        width: 60px;
        margin-top: 5px;
      }
      .scrum-card-long {
        width: 125px;
        margin-top: 5px;
      }
      .center {
        text-align: center;
      }
      .right {
        text-align: right;
      }
      .body-margin {
        margin-top: 10px;
      }
      .hand {
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
